@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  color: gray;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //////////////////////////////// */

/* //////////////////////////////// */

/* HOME SCREEN */
.home {
  height: 97vh;
  width: 400px;
  background-color: rgb(238, 235, 235);
  font-size: 28px;
  border-radius: 1rem;
  border: 2px solid rgb(216, 216, 216);
  /* margin: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#dot1 {
  height: 380px;
  width: 380px;
  background-color: rgb(247, 244, 244);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* //////////////////////////////// */

/* //////////////////////////////// */

/* PLAY SCREEN */
.play {
  height: 97vh;
  width: 400px;
  background-color: rgb(248, 246, 246);
  font-size: 28px;
  border-radius: 1rem;
  border: 2px solid rgb(216, 216, 216);
  /* margin: 10px; */
  display: flex;
  justify-content: center;
}

.flag-box-play {
  height: 280px;
  text-align: center;
}

.flags-display {
  margin-top: 16px;
}

.answer-buttons {
  font-size: 28px;
  display: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#back-btn,
/* #score,
#play-count, */
#back-btn-options {
  margin-top: 20px;
}

#optionsTitle {
  margin-top: 15px;
  font-size: 26px;
}

.header {
  text-align: justify;
  font-size: 25px;
  height: 80px;
}
.header li {
  display: inline-block;
}

.header::after {
  content: "";
  width: 100%;
  display: inline-block;
}
/* //////////////////////////////// */

/* //////////////////////////////// */

/* OPTIONS SCREEN */

/* div {
  border: 1px solid red;
} */

.options {
  height: 97vh;
  width: 400px;
  background-color: rgb(248, 246, 246);
  font-size: 28px;
  border-radius: 1rem;
  border: 2px solid rgb(216, 216, 216);
  /* margin: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.playMargin {
  margin-top: 17px;
}

.gameSubTitle {
  font-size: 25px;
  font-style: italic;
  color: gray;
}

#sound-button {
  margin-top: 18px;
  margin-bottom: 20px;
}
.one {
  height: 75px;
}
.two {
  height: 100px;
}

.three {
  height: 350px;
}
.title1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
}

.title2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
}

.title3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 26px;
}

.three > ul > li {
  font-size: 20px;
}

.container {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  width: 90%;
}

.inlineLeft,
.inline25,
.inlineCenter,
.inline75,
.inlineRight {
  position: absolute;
  display: inline;
}

.inlineRight {
  right: 0px;
}

.inlineCenter {
  right: 50%;
}

.inline25 {
  right: 70%;
}

.inline75 {
  right: 25%;
}

.optbutton {
  padding: 5px;
  color: gray;
  border-radius: 20%;
  height: 40px;
  width: 60px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  text-align: center;
}

/* .optbutton:hover {
  background-color: rgb(231, 231, 231);
} */

/* //////////////////////////////// */

/* //////////////////////////////// */

/* General Stuff */

/* general button look */
.backButton {
  height: 40px;
  width: 60px;
  font-size: 20px;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
}

/* .button {
  height: 45px;
  width: 340px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 30px;
} */

.playScreenButtons {
  height: 45px;
  width: 350px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 30px;
  border: none;
}

.endGameButtons {
  height: 45px;
  width: 200px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 30px;
  border: none;
}

.buttonNextStyle {
  height: 45px;
  width: 350px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 30px;
  border: none;
}

.buttonGreen {
  background-color: rgb(177, 221, 177);
}

.buttonRed {
  background-color: rgb(248, 170, 170);
}

.responsive {
  width: 100%;
  height: auto;
}

.optionsOnOffBtns {
  margin-top: 0px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 13px;
}

/* Hidding Stuff */

.hideHome {
  display: none;
}

.hidePlay {
  display: none;
}

.hideOptions {
  display: none;
}

.homeMenu {
  margin-top: 10px;
}

.gameTitle {
  padding-top: 20px;
  font-size: 30px;
  color: gray;
  margin-top: 40px;
}

.hideNextButton {
  display: none;
}

.pushed {
  background-color: rgb(207, 207, 207);
}

.hideEndGame {
  display: none;
}

.endGameScore {
  margin-top: 60px;
}

.howManyRight {
  margin-top: 20px;
  margin-bottom: 20px;
}
